.story {
    width: 83%;
    margin: 0 auto;
    padding: 100px 0px;
    &--heading {
        font-size: 46px;
        margin-bottom: 68px;
    }
    &--story {
        display: flex;
        align-items: center;
        p {
            width: 500px;
            font-weight: 400;
            font-size: 16px;
            margin-left: 200px;
            line-height: 160%;
        }
    }
}
.achievements {
    padding: 30px 0px;
    background: linear-gradient(83.48deg, #3E6187 1.92%, rgba(62, 97, 135, 0.720998) 88.26%, rgba(62, 97, 135, 0.45) 95.56%, rgba(62, 97, 135, 0.2) 99.28%);
    color: white;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 48px;
    }
    &--body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            width: 40px;
            margin-right: 12px;
        }
        h3 {
            font-family: 'Book Antiqua';
            font-weight: 400;
            font-size: 48px;
            letter-spacing: 0.04em;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        p {
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 20px;
        }
    }
    &--exp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--workers {
        max-width: 273px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.design {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }
    p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 53px;
    }
    &--images {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;
    }
}
.places {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px 120px;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    }
    p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 53px;
        max-width: 539px;
        margin-bottom: 36px;
        line-height: 160%;
    }
    .button {
        margin-bottom: 48px;
    }
    img {
        display: block;
    }
}
@media screen and (max-width: 1300px) {
    .design {
        &--images {
            grid-template-columns: auto;
        }
    }
}
@media screen and (max-width: 1120px) {
    .story {
        &--heading {
            text-align: center;
        }
        &--story {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                margin-top: 40px;
                width: 70%;
                // font-weight: 400;
                // font-size: 16px;
                // margin-left: 200px;
            }
        }
    }
}