.header {
    background-color: #3E6187;
    max-height: fit-content;
    color: white;
    &--body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--menu {
        display: flex;
    }
    &--utils {
        display: flex;
        align-items: center;
    }
    &--languageSelector {
        margin-right: 50px;
        text-transform: capitalize;
    }
    .menu {
        &--item {
            margin-right: 50px;
            &:last-child {
                margin: 0;
            }
        }
    }
    &--cart {
        cursor: pointer;
        position: relative;
    }
}
.menu--link.active{
    color: #FEB681;
}
.cartAmount {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 22px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8B36;
    border-radius: 50%;
    font-size: 15px;
}