.modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    aspect-ratio: 16/9;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #2E2E2E;
    border-radius: 15px;
    box-shadow: 1px 1px 20px #88888875;
    h2 {
        font-family: 'Book Antiqua';
        font-size: 48px;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    img {
        width: 40px;
        margin-right: 8px;
    }
    p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
    button{
        padding: 5px 15px;
        cursor: pointer;
        background: none;
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        span {
            display: block;
            width: 40px;
            height: 1px;
            background-color: #2E2E2E;
            &:first-child {
                transform: translate(-40%, 0.5px) rotate(40deg);

            }
            &:last-child {
                transform: translate(-40%, -1px) rotate(-40deg);
            }
        }
    }
}
