.product {
    padding: 60px 0px;
    &--heading {
        margin-bottom: 48px;
        text-align: center;
    }
    &--list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 30px;
    }
}
.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    &--category {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 15px;
        button {
            background: none;
            border: none;
            padding: 5px;
            cursor: pointer;
        }
    }
    &--type {
        display: flex;
        align-items: center;
        input {
            margin-left: 10px;
            margin-right: 20px;
            padding: 3px 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .searchbar {
        width: 250px;
        margin-right: 5px;
    }
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
    .searchIcon{
        width: 30px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1700px) {
    .product {
        &--list {
            grid-template-columns: repeat(2, auto);
        }
    }
}
@media screen and (max-width: 1200px) {
    .filters {
        flex-direction: column;
        &--category {
            margin-bottom: 40px;
        }
    }
}