@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    font-family: 'Raleway';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 15px 140px;
}
.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.content {
    flex: 1 1 auto;
}
.main-heading {
    font-family: 'Book Antiqua';
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.02em;
}
.header {
    background-color: #3E6187;
    max-height: fit-content;
    color: white;
    &--body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--menu {
        display: flex;
    }
    &--utils {
        display: flex;
        align-items: center;
    }
    &--languageSelector {
        margin-right: 50px;
        text-transform: capitalize;
    }
    .menu {
        &--item {
            margin-right: 50px;
            &:last-child {
                margin: 0;
            }
        }
    }
}
.footer {
    background-color: #3E6187;
    padding: 24px 0px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    &--body {
        display: flex;
        justify-content: space-between;
    }
    &--copy {
        text-align: center;
        margin-top: 16px;
    }
    &--payment {
        img {
            margin-right: 30px;
        }
    }
    &--heading {
        font-size: 16px;
        margin-bottom: 20px;
    }
    &--number {
        display: block;
        margin-bottom: 16px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
    }
    .menu {
        &--item {
            margin-bottom: 16px;
            &:last-child {
                margin: 0;
            }
        }
    }
}
.main {
    padding: 100px 0px;
    background-image: url('/src/images/main.png');
    background-position: right;
    background-color: #3E6187;
    background-repeat: no-repeat;
    color: white;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 96px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }
    &--subHeading {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 36px;
    }
    &--list {
        margin-bottom: 40px;
    }
    &--item {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        img {
            width: 20px;
            margin-right: 8px;
        }
    }
}
.button {
    padding: 10px 45px;
    border: none;
    border-radius: 15px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    &--accent {
        background-color: #FF8B36;
        color: white;
    }
}
.shop {
    padding: 100px 0px;
    text-align: center;
    &--heading {
        margin-bottom: 48px;
    }
    &--list {
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: repeat(4, 375px);
        grid-gap: 20px;
    }
}
.card {
    width: 375px;
    &--image {
        width: 100%;
        height: 323px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
        img {
            max-width: 90%;
        }
    }
    &--info {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--name {
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize;
    }
    &--price {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}
.product {
    padding: 60px 0px;
    &--heading {
        margin-bottom: 48px;
        text-align: center;
    }
    &--list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-row-gap: 30px;
    }
}
.heading {
    font-family: 'Book Antiqua';
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}
.story {
    padding: 100px 0px;
    &--heading {
        font-size: 46px;
        margin-bottom: 48px;
    }
    &--story {
        display: flex;
        align-items: center;
        p {
            width: 372px;
            font-weight: 400;
            font-size: 16px;
            margin-left: 200px;
        }
    }
}
.achievements {
    padding: 30px 0px;
    background: linear-gradient(83.48deg, #3E6187 1.92%, rgba(62, 97, 135, 0.720998) 88.26%, rgba(62, 97, 135, 0.45) 95.56%, rgba(62, 97, 135, 0.2) 99.28%);
    color: white;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 48px;
    }
    &--body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            width: 40px;
            margin-right: 12px;
        }
        h3 {
            font-family: 'Book Antiqua';
            font-weight: 400;
            font-size: 48px;
            letter-spacing: 0.04em;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        p {
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 20px;
        }
    }
    &--exp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--workers {
        max-width: 273px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.design {
    padding: 50px 0px;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
    }
    p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 53px;
    }
    &--images {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}
.places {
    padding: 50px 0px 120px;
    &--heading {
        font-family: 'Book Antiqua';
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    }
    p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 53px;
        max-width: 539px;
        margin-bottom: 36px;
    }
    .button {
        margin-bottom: 48px;
    }
    img {
        
        display: block;
    }
}